<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Register </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label for="fullName">Full Name</mat-label>
                    <input matInput type="text" formControlName="fullName" />
                    <mat-error *ngIf="f.fullName.hasError('required')">First Name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="roles">
                        <mat-option *ngFor="let role of roleList" [value]="role.Id">{{role.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Module</mat-label>
                    <mat-select formControlName="modules" multiple>
                        <mat-option *ngFor="let module of modulelist" [value]="module.Id">{{module.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label for="mobile">Mobile Number</mat-label>
                    <input matInput type="text" formControlName="mobile" />
                    <mat-error *ngIf="f.mobile.hasError('required')">Mobile number is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label for="email">Email</mat-label>
                    <input matInput type="text" formControlName="email" />
                    <mat-error *ngIf="f.email.hasError('required')">Email is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label for="password">Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                    <mat-error *ngIf="f.password.hasError('required')">Password is required</mat-error>
                    <mat-error *ngIf="f.password.hasError('minlength') && !f.password.hasError('required')">Password
                        must be at
                        least 6 characters</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">
                    Register
                </button>
                <a routerLink="../login" mat-stroked-button>Cancel</a>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
<user-list></user-list>