<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label for="email">Email</mat-label>
                    <input matInput type="text" formControlName="email" />
                    <mat-error *ngIf="f.email.hasError('required')">Email is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label for="password">Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                    <mat-error *ngIf="f.password.hasError('required')">Password is required</mat-error>
                    <mat-error *ngIf="f.password.hasError('minlength') && !f.password.hasError('required')">
                        Password must be at least 6 characters
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">
                    Login
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>